# Analise de temperatura

In [2]:
#importação de bibliotecas no python

import pandas as pd  #para trabalhar com o pandas (dataframes)
import numpy as np #para trabalhar com vetores e operações matemáticas de forma mais eficiente
import datetime  #biblioteca para manipular datas

In [3]:
df = pd.read_csv('analise_temp.csv')

In [6]:
#Média de temperatura
df['temperatura'].mean()

22.56981363222038

In [7]:
#Desvio Padrão
df['temperatura'].std()

4.328866835207559

In [8]:
#Informações sobre a temperatura no periodo todo de aquisição
df['temperatura'].describe()

count    3598.000000
mean       22.569814
std         4.328867
min        15.006289
25%        18.800640
50%        22.535242
75%        26.316852
max        29.994311
Name: temperatura, dtype: float64

In [12]:
#Deletar _id
df = df.drop(columns=['_id'])

In [14]:
df = df.drop(columns=['Unnamed: 0'])

In [26]:
df.head()

   temperatura              data_coleta
0    19.751256  2019-11-05 23:30:14.737
1    17.758147  2019-11-05 23:30:15.580
2    18.586933  2019-11-05 23:30:16.581
3    23.713587  2019-11-05 23:30:17.581
4    27.506258  2019-11-05 23:30:18.582